{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Photogenic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'my-css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
</head>

<body class="is-loading" id="index">
<div id="--main" class="active" style="width:400px; height:450px;">
<div class="--inner">
    <div class="divider"></div>
    <div class="component-wrapper" data-type="image" data-id="image01">
        <div class="inner">
            <div class="component">
                <div class="--image placeholder" id="--image01" data-href=""><span data-alt=""></span></div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="component-wrapper" data-type="text" data-id="text01">
        <div class="inner"><img class="logo" src="static/img/basic-camera.png" alt=""/>
    </div>
    <div class="divider"></div>
    <div class="component-wrapper" data-type="divider" data-id="divider01">
        <div class="inner">
            <div class="component">
                <div class="--hr" id="--divider01"></div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="component-wrapper" data-type="text" data-id="text02">
            <h1 style="font-family: Source Sans Pro; letter-spacing: 4px; font-weight: 100; color:black;">PHOTOGENIC</h1>
            <p  style="font-family: Source Sans Pro; letter-spacing: 6px; font-weight: 50;">APPLY FILTERS #YESFILTER<br>
            SHARE ON FACEBOOK :)</p>
            <ul class="actions vertical">
                <li>
                    <a href="build/index.html" class="button special fit">Login and edit away</a>
                </li>

        </div>
    </div>
    <div class="divider"></div>
    
    <div class="divider"></div>
</div>
</div>
    
    <footer id="footer"></footer>
    <script src="assets/libs.js"></script>
    <script src="assets/app.js"></script>
</body>

</html>
