{% extends "index.html" %}
{% load static %}
{% block content %}
<div id="--main" class="active" style="width:400px; height:450px;">
<div class="--inner">
    
    <div class="component-wrapper" data-type="image" data-id="image01">
        <div class="inner">
            <div class="component">
                <div class="--image placeholder" id="--image01" data-href=""><span data-alt=""></span></div>
            </div>
        </div>
    </div>
    
    <div class="component-wrapper" data-type="text" data-id="text01">
        <div class="inner"><img class="logo" src="static/img/basic-camera.png" alt=""/>
    </div>
    
    <div class="component-wrapper" data-type="divider" data-id="divider01">
        <div class="inner">
            <div class="component">
                <div class="--hr" id="--divider01"></div>
            </div>
        </div>
    </div>
    
    <div class="component-wrapper" data-type="text" data-id="text02">
            <h1 style="font-family: Grand Hotel; letter-spacing: 3px; font-weight: 100; color:black;">Photogenic</h1>
            <p  style="font-family: Source Sans Pro; letter-spacing: 6px; font-weight: 50;">APPLY FILTERS #YESFILTER<br>
            SHARE ON FACEBOOK :)</p>
            <ul class="actions vertical">
                <li>
                    <a href="/accounts/facebook/login/?process=login" class="button special fit" style="font-family: Source Sans Pro; letter-spacing: 2px; font-weight: 100;">LOGIN WITH FACEBOOK</a>
                </li>
    </div>
    </div>
    
    
    
</div>
</div>
{% endblock %}